.display1 {
  color: var(--nb-background-contrast-primary-500);
  font: var(--nb-display1);
}

.display2 {
  color: var(--nb-background-contrast-primary-500);
  font: var(--nb-display2);
}

.header1 {
  color: var(--nb-background-contrast-primary-500);
  font: var(--nb-header1);
}

.header2 {
  color: var(--nb-background-contrast-primary-500);
  font: var(--nb-header2);
}

.header3 {
  color: var(--nb-background-contrast-primary-500);
  font: var(--nb-header3);
}

.header4 {
  color: var(--nb-background-contrast-primary-500);
  font: var(--nb-header4);
}

.header5 {
  color: var(--nb-background-contrast-primary-500);
  font: var(--nb-header5);
}

.header6 {
  color: var(--nb-background-contrast-primary-500);
  font: var(--nb-header6);
}

.body1 {
  color: var(--nb-background-contrast-primary-500);
  font: var(--nb-body1);
}

.body2 {
  color: var(--nb-background-contrast-primary-500);
  font: var(--nb-body2);
}

.body3 {
  color: var(--nb-background-contrast-primary-500);
  font: var(--nb-body3);
}

.body4 {
  color: var(--nb-background-contrast-primary-500);
  font: var(--nb-body4);
}

.body5 {
  color: var(--nb-background-contrast-primary-500);
  font: var(--nb-body5);
}

.button {
  color: var(--nb-background-contrast-primary-500);
  font: var(--nb-button);
}

.caption {
  color: var(--nb-background-contrast-primary-500);
  font: var(--nb-caption);
}
