.nb-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nb-icon--size-s {
  width: 20px;
  height: 20px;
}

.nb-icon--size-m {
  width: 24px;
  height: 24px;
}

.nb-icon--size-l {
  width: 28px;
  height: 28px;
}
